body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

.container {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 20px;
}
.container .title{
    width: 50px;
    text-align: center;
}
#container1 {
    top: 10px;
    right: 20px;
}

#container2 {
    top: 45px;
    right: 20px;
}

#container3 {
    top: 80px;
    right: 20px;
}

.title {
    background: #545965;
    color: #fff;
    height: 15px;
    padding: 5px;
    float: left;
    position: relative;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.bar-unfill {
    height: 15px;
    padding: 5px;
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 8px
}

.bar-fill {
    height: 15px;
    display: block;
    background: #45c9a5;
    width: 0;
    border-radius: 8px;
}

.how_to{
    width: 150px;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 120px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}